<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>

    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <header>
        <h1>{{.Data.Name}}</h1>
    </header>

    {{if .LoggedIn}}
    <section class="create-post-section">
        <form action="/create-post" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="category_id" value="{{.Data.CategoryID}}">
            <input type="text" name="title" placeholder="Title" required>
            <textarea name="content" placeholder="Content" required></textarea>
            <input type="file" name="image" multiple="multiple" accept="image/*">
            <button type="submit">Create Post</button>
        </form>
    </section>
    {{else}}
    <section class="login-section">
        <a href="/logout">Login to create a post</a>
    </section>
    {{end}}

    <section class="posts-section">
        {{range .Data.Posts}}
        <article class="post">
            <button class="post-title" onclick="window.location.href='/categories/post?name={{.Title}}&id={{.PostID}}'">{{.Title}}</button>
            <p>{{.Content}}</p>
            <p><em>{{.Timestamp}}</em></p>
            <p>By {{.Username}}</p>
        </article>
        {{else}}
        <p>No posts available.</p>
        {{end}}
    </section>
</body>
</html>
