<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories > {{.Data.Name}}</title>

    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <header class="header">
        <div class="logo">
            <a href="/"><i class="fas fa-comments"></i> Prog'Here</a>
        </div>
    
        {{if .Session.LoggedIn}}
            {{if eq .Session.Rank "Moderator" "Administrator"}}
            <a href="/dashboard?view={{.Session.Username}}" class="dashboard"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
            {{end}}

            <a href="/logout" class="logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
            <a href="/profile?name={{.Session.Username}}" class="profile"><i class="fas fa-user"></i> Profile</a>
        {{else}}
            <a href="/auth/login" class="login"><i class="fas fa-sign-in-alt"></i> Login</a>
            <a href="/auth/register" class="register"><i class="fas fa-user-plus"></i> Register</a>
        {{end}}
    </header>

    {{if .Session.HasError}}
    <div class="overlay"></div>
        <div class="error">
            <form action="/reload" method="post">
                <i class="fas fa-exclamation-triangle"></i>
                <h2>Oops!</h2>
                <p>{{.Session.Message}}</p>
                <button type="submit" class="close-error">Close</button>
            </form>
        </div>
    {{end}}

    <div class="categories-container">
        <div class="categories-tableau">
            <div class="category-header"><i class="fas fa-list"></i><a href="/"> Topics</a> <i class="fas fa-arrow-right"></i><a href="/categories/?id={{.Data.CategoryID}}"> {{.Data.Name}}</a></div>
        </div>

        {{if .Session.LoggedIn}}
        <h3 class="category-global">Create Post</h3>
            <div class="new-post">
                <form action="/create-post" method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="category_id" value="{{.Data.CategoryID}}">
                    <input type="text" name="title" placeholder="Title" required maxlength="100">
                    <textarea name="content" placeholder="Content" required maxlength="1000"></textarea>
                    <input type="file" name="image" multiple="multiple" accept="image/*">
                    <button type="submit">Create Post</button>
                </form>
            </div>
        {{end}}

        <div class="posts-container">
            <h3 class="category-global">Posts</h3>
            <div class="posts-tableau">
                {{range .Data.Posts}}
                    <div class="post">
                        <a href="/categories/post?name={{.Title}}&id={{.PostID}}" class="post-title">{{.Title}}</a>
                        <div class="post-content">{{.Content}}</div>
                        <div class="post-date">{{.Timestamp}}</div>
                        <div class="post-author"><a href="/profile?name={{.Username}}">{{.Username}}</a></div>
                    </div>
                {{else}}
                    <p>No post available.</p>
                {{end}}
            </div>
        </div>
    </div>

    
    <footer class="footer">
        <p>Community platform by MisterIdle | Style by MisterIdle | © 2024 Prog'Here</p>
        <a href="https://misteridle.itch.io/" target="_blank" class="footer-link"><i class="fab fa-itch-io"></i></a>
        <a href="https://github.com/MisterIdle " target="_blank" class="footer-link"><i class="fab fa-github"></i></a>
    </footer>

    <script src="https://kit.fontawesome.com/0bcb48834b.js" crossorigin="anonymous"></script>
</body>
</html>
