<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenue</title>
</head>
<body>
    <div class="categories-container">
        <h2>Categories</h2>
        {{range $global, $categories := .Categories}}
            <h3>{{ $global }}</h3>
            {{range $categories}}
                <button class="category-button" onclick="window.location.href='/categories?id={{.CategoryID}}'">{{.Name}}</button>
            {{end}}
        {{else}}
            <p>No category available.</p>
        {{end}}
    </div>
</body>
</html>
