<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenue</title>

    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/categories.css">
</head>
<body>

    <div class="header">
        <a href="/index.html">
            <img src="../img/logo.png" alt="logo" class="logo">
            <h1>Prog'ici</h1>
        </a>
    </div>

    <div class="nav">
        <div class="nav-left">
            <a href="/index.html">Home</a>
            <a href="/rules.html">Rules</a>
            <a href="/about.html">About</a>
        </div>
        <div class="nav-right">
            {{if .LoggedIn}}
                <a href="/logout">Logout</a>
            {{else}}
                <a href="/login">Login</a>
            {{end}}
        </div>
    </div>

    <div class="categories-container">
        <h2><i class="fas fa-home"></i> Accueil</h2>
        {{range $global, $categories := .Data.Categories}}
            <h3>{{ $global }}</h3>
            <div class="category-list">
                {{range $categories}}
                    <div class="category">
                        <a href="/categories?id={{.CategoryID}}" class="category-name">{{.Name}}</a>
                        <p class="category-description">{{.Description}}</p>
                        <p class="category-message">{{.Totals}} posts</p>
                    </div>
                {{end}}
            </div>
        {{else}}
            <p>No category available.</p>
        {{end}}
    </div>

    <div class="stats-container">
        <h2>Stats</h2>
    </div>
    
    <script src="../javascript/script.js"></script>
    <script src="https://kit.fontawesome.com/0bcb48834b.js" crossorigin="anonymous"></script>
</body>
</html>
