<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Data.Title}}</title>
</head>
<body>
    <header>
        <h1>{{.Data.Title}}</h1>
        <h2>{{.Data.Content}}</h2>
        {{range .Data.Images}}
        <img src="/img/upload/{{.}}" alt="Image">
        {{end}}
        <p><em>{{.Data.Timestamp}}</em></p>
        <h2>By {{.Data.Username}}</h2>
    </header>

    <section class="like-dislike-section">
        <form action="/like-post" method="POST">
            <input type="hidden" name="post_id" value="{{.Data.PostID}}">
            <input type="hidden" name="title" value="{{.Data.Title}}">
            <h2>{{.Data.Likes}}</h2>
            <button type="submit">Like</button>
        </form>
        <form action="/dislike-post" method="POST">
            <input type="hidden" name="post_id" value="{{.Data.PostID}}">
            <input type="hidden" name="title" value="{{.Data.Title}}">
            <h2>{{.Data.Dislikes}}</h2>
            <button type="submit">Dislike</button>
        </form>
    </section>

    {{if .LoggedIn}}
    <section class="create-comment-section">
        <form action="/create-comment" method="POST">
            <textarea name="content" placeholder="Comment"></textarea>
            <input type="hidden" name="post_id" value="{{.Data.PostID}}">
            <input type="hidden" name="title" value="{{.Data.Title}}">
            <button type="submit">Create Comment</button>
        </form>
    </section>
    {{else}}
    <section class="login-section">
        <a href="/logout">Login to create a comment</a>
    </section>
    {{end}}

    <section class="comments-section">
        {{range .Data.Comments}}
        <article class="comment">
            <p>{{.Content}}</p>
            <p><em>{{.Timestamp}}</em></p>
            <p>By {{.Username}}</p>
            {{if .LoggedIn}}
            <div class="like-dislike-buttons">
                <form action="/like-comment" method="POST">
                    <input type="hidden" name="comment_id" value="{{.CommentID}}">
                    <input type="hidden" name="post_id" value="{{.PostID}}">
                    <input type="hidden" name="title" value="{{.Title}}">
                    <h2>{{.Likes}}</h2>
                    <button type="submit">Like</button>
                </form>
                <form action="/dislike-comment" method="POST">
                    <input type="hidden" name="comment_id" value="{{.CommentID}}">
                    <input type="hidden" name="post_id" value="{{.PostID}}">
                    <input type="hidden" name="title" value="{{.Title}}">
                    <h2>{{.Dislikes}}</h2>
                    <button type="submit">Dislike</button>
                </form>
            </div>
        {{end}}
        </article>
        {{else}}
        <p>No comments available.</p>
        {{end}}
    </section>
</body>
</html>
