<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Data.Title}}</title>
</head>
<body>
    <h1>{{.Data.Title}} + {{.Data.PostID}}</h1>
    <h2>{{.Data.Content}}</h2>
    <p><em>{{.Data.Timestamp}}</em></p>
    <H2>By {{.Data.Username}}</H2>

    <div class="like-dislike-buttons">
        <form action="/like-post" method="POST">
            <input type="hidden" name="post_id" value="{{.Data.PostID}}">
            <input type="hidden" name="title" value="{{.Data.Title}}">
            <h2>{{.Data.Likes}}</h2>
            <button type="submit">Like</button>
        </form>
        <form action="/dislike-post" method="POST">
            <input type="hidden" name="post_id" value="{{.Data.PostID}}">
            <input type="hidden" name="title" value="{{.Data.Title}}">
            <h2>{{.Data.Dislikes}}</h2>
            <button type="submit">Dislike</button>
        </form>
    </div>


    {{if .LoggedIn}}
        <div class="create-comment-container">
            <form action="/create-comment" method="POST">
                <textarea name="content" placeholder="Comment"></textarea>
                <input type="hidden" name="post_id" value="{{.Data.PostID}}">
                <input type="hidden" name="title" value="{{.Data.Title}}">
                <button type="submit">Create Comment</button>
            </form>
        </div>
    {{else}}
        <a href="/logout">Login to create a comment</a>
    {{end}}

    <div class="comments-container">
        {{range .Data.Comments}}
            <div class="comment">
                <p>{{.Content}}</p>
                <p><em>{{.Timestamp}}</em></p>
                <h2>By {{.Username}}</h2>
            </div>
        {{else}}
            <p>No comment available.</p>
        {{end}}
    </div>    
</body>
</html>
