<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post > {{.Data.Title}}</title>
    
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <header class="header">
        <div class="logo">
            <a href="/back"><i class="fas fa-comments"></i> Prog'Here</a>
        </div>
    
        {{if .Session.LoggedIn}}
            {{if eq .Session.Rank "Moderator" "Administrator"}}
            <a href="/dashboard?view={{.Session.Username}}" class="dashboard"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
            {{end}}

            <a href="/logout" class="logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
            <a href="/profile?name={{.Session.Username}}" class="profile"><i class="fas fa-user"></i> Profile</a>
        {{else}}
            <a href="/auth/login" class="login"><i class="fas fa-sign-in-alt"></i> Login</a>
            <a href="/auth/register" class="register"><i class="fas fa-user-plus"></i> Register</a>
        {{end}}
    </header>

    {{if .Session.HasError}}
    <div class="overlay"></div>
        <div class="error">
            <form action="/reload" method="post">
                <i class="fas fa-exclamation-triangle"></i>
                <h2>Oops!</h2>
                <p>{{.Session.Message}}</p>
                <button type="submit" class="close-error">Close</button>
            </form>
        </div>
    {{end}}

    <div class="categories-container">
        <div class="categories-tableau">
            <div class="category-header">
                <i class="fas fa-list"></i><a href="/"> Topics</a>
                <i class="fas fa-arrow-right"></i><a href="/categories/?id={{.Data.CategoryID}}"> {{.Data.CategoryName}}</a>
                <i class="fas fa-arrow-right"></i> {{.Data.Title}}
            </div>
        </div>

        <div class="post-container">
            <div class="post-title">{{.Data.Title}}</div>
            <div class="post-content">{{.Data.Content}}</div>
            <div class="post-date">{{.Data.Timestamp}}</div>
            <div class="post-author"><a href="/profile?name={{.Data.Username}}">{{.Data.Username}}</a></div>
            <div class="post-image">
                {{range .Data.Images}}
                    <a class="post-image-link" href="/img/upload/{{.}}" target="_blank">
                        <img src="/img/upload/{{.}}" alt="Image">
                    </a>
                {{end}}
            </div>

            <div class="likes-container">
                <form action="/like-post" method="POST" class="like-form">
                    <h2>{{.Data.LikesPost}}</h2>
                    <input type="hidden" name="post_id" value="{{.Data.PostID}}">
                    <button type="submit"><i class="fas fa-heart"></i></button>
                </form>
                <form action="/dislike-post" method="POST" class="dislike-form">
                    <h2>{{.Data.DislikesPost}}</h2>
                    <input type="hidden" name="post_id" value="{{.Data.PostID}}">
                    <button type="submit"><i class="fas fa-heart-broken"></i></button>
                </form>
            </div>

            {{if .Session.LoggedIn}}
            <div class="likes-container">
                {{if eq .Session.Username .Data.Username}}
                    <form action="/delete-post" method="POST" class="delete-form">
                        <input type="hidden" name="post_id" value="{{.Data.PostID}}">
                        <button type="submit"><i class="fas fa-trash-alt"></i> Delete</button>
                    </form>
                {{end}}

                <form action="/report-post" method="POST" class="report-form">
                    <input type="hidden" name="post_id" value="{{.Data.PostID}}">
                    <button type="submit"><i class="fas fa-flag"></i> Report</button>
                </form>

                {{if eq .Session.Rank "Moderator" "Administrator"}}
                    <form action="/delete-post" method="POST" class="delete-form-admin">
                        <input type="hidden" name="post_id" value="{{.Data.PostID}}">
                        <button type="submit"><i class="fas fa-trash-alt"></i> Delete</button>
                    </form>
                {{end}}
            </div>
            {{end}}
        </div>

        <div class="comments-container">
            <h3 class="category-global">Comments</h3>

            {{if .Session.LoggedIn}}
                <div class="post-comment">
                    <form action="/create-comment" method="POST">
                        <input type="hidden" name="post_id" value="{{.Data.PostID}}">
                        <textarea name="content" placeholder="Comment" required maxlength="1000"></textarea>
                        <button type="submit">Comment</button>
                    </form>
                </div>
            {{end}}

            <div class="comments-tableau">
                {{range .Data.Comments}}
                    <div class="comment">
                        <div class="comment-header">
                            <div class="comment-author"><a href="/profile?name={{.Username}}">{{.Username}}</a></div>
                            <div class="comment-content">{{.Content}}</div>
                            <div class="comment-date">{{.Timestamp}}</div>
                        </div>

                        <div class="likes-container">
                            <form action="/like-comment" method="POST" class="like-form">
                                <h2>{{.LikesComment}}</h2>
                                <input type="hidden" name="comment_id" value="{{.CommentID}}">
                                <button type="submit"><i class="fas fa-heart"></i></button>
                            </form>
                            <form action="/dislike-comment" method="POST" class="dislike-form">
                                <h2>{{.DislikesComment}}</h2>
                                <input type="hidden" name="comment_id" value="{{.CommentID}}">
                                <button type="submit"><i class="fas fa-heart-broken"></i></button>
                            </form>

                            {{if .Sessions.LoggedIn}}
                                {{if eq .Sessions.Username .Username}}
                                    <form action="/delete-comment" method="POST" class="delete-form">
                                        <input type="hidden" name="comment_id" value="{{.CommentID}}">
                                        <button type="submit"><i class="fas fa-trash-alt"></i> Delete</button>
                                    </form>
                                {{end}}

                                <form action="/report-comment" method="POST" class="report-form">
                                    <input type="hidden" name="comment_id" value="{{.CommentID}}">
                                    <button type="submit"><i class="fas fa-flag"></i> Report</button>
                                </form>

                                {{if eq .Sessions.Rank "Moderator" "Administrator"}}
                                    <form action="/delete-comment" method="POST" class="delete-form-admin">
                                        <input type="hidden" name="comment_id" value="{{.CommentID}}">
                                        <button type="submit"><i class="fas fa-trash-alt"></i> Delete</button>
                                    </form>
                                {{end}}
                            {{end}}
                        </div>
                    </div>
                {{end}}
            </div>
        </div>
    </div>
    
    <script src="https://kit.fontawesome.com/0bcb48834b.js" crossorigin="anonymous"></script>
</body>
</html>
